<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toony</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  {% set image_filename = 'background.jpg' %}
  {% set image_path = url_for('static', filename=image_filename) %}
  <body style="background-image: url({{image_path}}); background-size: cover; background-position: center; max-height: 100%;">
    <div class="p-3" style="background-color: white;">
      <a class="fs-2" style="text-decoration: none;" href="{{url_for('index')}}"><h1>Toony</h1></a>
      <h2>A place to turn your comic artist dream into reality by Mukilan M</h2>
    </div>

    <div class="container mt-3 px-5 py-4">
    {% block content %}{% endblock %}
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>
