{% extends "base.html" %} {% block content %}
<form method="POST">
  {{form.hidden_tag()}}
  <div class="container px-4 text-center">
    <div class="'row gx-5 px-2 py-1" style="display: flex; column-gap: 1rem; background-color: rgba(76, 76, 76, 0.619);">
      <div class="col" style="background-color: white; border:1px solid black; border-radius: 8px;">
        <label class="form-label" >Image prompt goes here: </label>
        {{form.prompt0(class="form-control form-control-sm")}}
      </div>
      <div class="col" style="background-color: white; border:1px solid black; border-radius: 8px;">
        <label class="form-label">Image prompt goes here: </label>
        {{form.prompt1(class="form-control form-control-sm")}}
      </div>
    </div>
    <div class="'row gx-5  px-2 py-1" style="display: flex; column-gap: 1rem; background-color: rgba(76, 76, 76, 0.619);">
      <div class="col" style="background-color: white; border:1px solid black; border-radius: 8px;">
        <label class="form-label" >Image prompt goes here: </label>
        {{form.prompt2(class="form-control form-control-sm")}}
      </div>
      <div class="col" style="background-color: white; border:1px solid black; border-radius: 8px;">
        <label class="form-label">Image prompt goes here: </label>
        {{form.prompt3(class="form-control form-control-sm")}}
      </div>
    </div>
    <div class="'row gx-5 px-2 py-1" style="display: flex; column-gap: 1rem; background-color: rgba(76, 76, 76, 0.619);">
      <div class="col" style="background-color: white; border:1px solid black; border-radius: 8px;">
        <label class="form-label" >Image prompt goes here: </label>
        {{form.prompt4(class="form-control form-control-sm")}}
      </div>
      <div class="col" style="background-color: white; border:1px solid black; border-radius: 8px;">
        <label class="form-label">Image prompt goes here: </label>
        {{form.prompt5(class="form-control form-control-sm")}}
      </div>
    </div>
    <div class="'row gx-5 px-2 py-1" style="display: flex; column-gap: 1rem; background-color: rgba(76, 76, 76, 0.619);">
      <div class="col" style="background-color: white; border:1px solid black; border-radius: 8px;">
        <label class="form-label" >Image prompt goes here: </label>
        {{form.prompt6(class="form-control form-control-sm")}}
      </div>
      <div class="col" style="background-color: white; border:1px solid black; border-radius: 8px;">
        <label class="form-label">Image prompt goes here: </label>
        {{form.prompt7(class="form-control form-control-sm")}}
      </div>
    </div>
    <div class="'row gx-5 px-2 py-1" style="display: flex; column-gap: 1rem; background-color: rgba(76, 76, 76, 0.619);">
      <div class="col" style="background-color: white; border:1px solid black; border-radius: 8px;">
        <label class="form-label" >Image prompt goes here: </label>
        {{form.prompt8(class="form-control form-control-sm")}}
      </div>
      <div class="col" style="background-color: white; border:1px solid black; border-radius: 8px;">
        <label class="form-label">Image prompt goes here: </label>
        {{form.prompt9(class="form-control form-control-sm")}}
      </div>
    </div>
    <div class="'row gx-5 px-2 py-1" style="display: flex; column-gap: 1rem; background-color: rgba(76, 76, 76, 0.619); justify-content: center;">
        <div>{{form.submit(class="btn btn-success")}}</div>
    </div>
  </div>
</form>
{% endblock %}
