{% extends "base.html" %} {% block content %}
<div class="w-100 p-3 card text-center">
  <div class="card-body">

    <h5 class="card-title">
      Turn your words into comics with Toony. Enter 10 prompts and let the magic
      happen! Unleash your creativity with our easy-to-use web app. Get started
      now and transform your ideas into visually engaging comics. Create,
      customize, and publish your unique stories in minutes.
    </h5>
    <p class="card-text">#ComicCreator #CreativityUnleashed</p>
  </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto p-3">
  <a class="text-center" href="{{url_for('begin')}}"><button class="btn btn-success" type="button" style="border: solid;">Lets Go!!</button></a>
</div>
{% endblock %}
